@media screen and (max-width: 670px) {
 
 .embeddedServiceHelpButton .uiButton {
      min-width: 60px !important;
      min-height: 60px !important;
     
     }
 }
     .helpButton .forceCommunityEmbeddedServiceHelpButton{
     margin-bottom:50px !important;
     }
 
    .embeddedServiceHelpButton .uiButton{
      min-width: 230px !important;
      min-height: 60px !important; 
     }
    .embeddedServiceHelpButton .helpButton .uiButton {
        background-color: rgb(0, 69, 124,0.75) !important;
       
        font-family: "Arial", sans-serif;
    }
    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #005290;
    }

.embeddedServiceLiveAgentStatePrechatDefaultUI{
 border:7px solid rgb(0, 69, 124,0.75) !important;
}
