@keyframes blinksBriefly {
	  0%   {zoom:108%}
	  25%  {zoom:100%}
	  50%  {zoom:108%}
	  75%  {zoom:100%}
	  100% {zoom:108%}
    }

.embeddedServiceSidebarButton.uiButton--inverse .label {
    color: white !important;
}

.embeddedServiceSidebarButton{
        background: rgb(64 116 157) !important;
}
.embeddedServiceHelpButton .helpButton .helpButtonEnabled:hover::before, .embeddedServiceHelpButton .helpButton .helpButtonEnabled:focus::before{
	display: none;
}

.message{
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif;
        background-color: rgb(64 116 157) !important;
        color: white;
        border: none;
	display:none;
    }

    .agentName{
        color: #00457c;
    }

    .embeddedServiceSidebar.layout-docked .dockableContainer.showDockableContainer{
        box-shadow: 5px 4px 8px 5px rgb(5 0 0 / 19%), 5px 5px 50px 8px rgb(5 0 0 / 19%)
    }

    .embeddedServiceSidebar.modalContainer{
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif; 
        
    }

    .embeddedServiceSidebarFormField .uiInput .uiLabel-left {
        font-size: "16px";
    }

    .embeddedServiceSidebarForm .embeddedServiceSidebarFormField {
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif; 
        font-size: "16px";
    }


    .embeddedServiceHelpButton .helpButton .uiButton {
        /*background-color: rgb(0, 69, 124,0.75) !important;*/
        background-color: transparent !important;
	box-shadow:none !important;
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif;
        min-width: 22em !important;
		margin: 0 15px 15px 0;
    }
    .embeddedServiceHelpButton .helpButton {
                margin: 0 15px 25px 0;
            }

    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #005290;

    }
	

    .embeddedServiceHelpButton .embeddedServiceIcon::before {
		content:url(https://baslerweb--webchat--c.visualforce.com/resource/1649016349000/buttonChat?)!important;
		margin: 5px 15px 0px 100px;
	        zoom: 35%;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .helpButton .uiButton {
        background-color: rgb(0, 69, 124,0.75) !important;
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif;
        min-width: 22em !important;
        margin: 0 0px 15px 0;

    }

    .embeddedServiceSidebarMinimizedDefaultUI .helpButton {
        margin: 0 15px 25px 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .helpButton .uiButton:focus {
        outline: 1px solid #005290;

    }

    .embeddedServiceSidebarMinimizedDefaultUI .minimizedText {
        display: none;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .messageContent {
        position: fixed;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .content {
        display: inline-flex;
    }

    .embeddedServiceSidebarMinimizedDefaultUI {
        width: 250px !important;
        bottom: 35px !important;
        right: 55px !important;
        height: 55px !important;
    }

    @media screen and (max-width: 670px) {
	.embeddedServiceHelpButton .embeddedServiceIcon::before {
         content:url(https://baslerweb--webchat--c.visualforce.com/resource/1649016850000/mobileButtonChat?)!important;	
         margin: 5px 15px 0px 200px;
         zoom: 60%;
    }
	    
    .message{
	display:none;
    }
	    
    .embeddedServiceSidebarMinimizedDefaultUI{
        margin-bottom: 35px !important;
     }
   }
