    .message{
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif;
        background-color: rgb(64 116 157) !important;
        color: white;
        border: none;
    }

    .agentName{
        color: #00457c;
    }

    .embeddedServiceSidebar.layout-docked .dockableContainer.showDockableContainer{
        box-shadow: 5px 4px 8px 5px rgb(5 0 0 / 19%), 5px 5px 50px 8px rgb(5 0 0 / 19%)
    }

    .embeddedServiceSidebar.modalContainer{
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif; 
        
    }

    .embeddedServiceSidebarFormField .uiInput .uiLabel-left {
        font-size: "16px";
    }

    .embeddedServiceSidebarForm .embeddedServiceSidebarFormField {
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif; 
        font-size: "16px";
    }


    .embeddedServiceHelpButton .helpButton .uiButton {
        /*background-color: rgb(0, 69, 124,0.75) !important;*/
        background-color: transparent !important;
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif;
        min-width: 22em !important;
		margin: 0 15px 15px 0;
        box-shadow:none;
       
        

    }
    .embeddedServiceHelpButton .helpButton {
                margin: 0 15px 25px 0;
            }

    .embeddedServiceHelpButton .helpButton .uiButton:focus {
        outline: 1px solid #005290;

    }
	

    .embeddedServiceHelpButton .embeddedServiceIcon::before {
		content:url(https://baslerweb--webchat--c.visualforce.com/resource/1645702374000/buttonChat?)!important;
		margin: 5px 15px 0px 30px;
    }

    /*
    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .helpButton .uiButton {
        background-color: rgb(0, 69, 124,0.75) !important;
        font-family: "chatfont";
        min-width: 22em !important;
		margin: 0 0px 15px 0;

    }

    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .helpButton {
        margin: 0 15px 25px 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .embeddedServiceIcon::before {
		content:url(https://baslerweb--webchat--c.visualforce.com/resource/1645702374000/buttonChat?)!important;
        margin: -14px 1px 1px 15px
    }

    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .helpButton .uiButton:focus {
        outline: 1px solid #005290;

    }

    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .minimizedText {
                display: none;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .messageContent {
    position: fixed;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.newMessage .content {
    display: inline-flex;
    }



    .embeddedServiceSidebarMinimizedDefaultUI.newMessage {
        display: none;
    }

    */

    .embeddedServiceSidebarMinimizedDefaultUI .helpButton .uiButton {
        background-color: rgb(0, 69, 124,0.75) !important;
        font-family: DINWebPro-Regular, Helvetica, Arial, Meiryo, sans-serif;
        min-width: 22em !important;
		margin: 0 0px 15px 0;

    }

    .embeddedServiceSidebarMinimizedDefaultUI .helpButton {
        margin: 0 15px 25px 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .embeddedServiceIcon::before {
		content:url(https://baslerweb--webchat--c.visualforce.com/resource/1645702374000/buttonChat?)!important;
        margin: -14px 1px 1px 15px;
        display:none;
    }
    .embeddedServiceSidebarMinimizedDefaultUI .helpButton .uiButton:focus {
        outline: 1px solid #005290;

    }

    .embeddedServiceSidebarMinimizedDefaultUI .minimizedText {
                display: none;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .messageContent {
    position: fixed;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .content {
    display: inline-flex;
    }



    .embeddedServiceSidebarMinimizedDefaultUI {
        /*margin: 1px 40px 25px 1px;*/
        width: 250px;
        bottom: 35px;
        right: 55px;
        
    }

    .embeddedServiceSidebarButton {
        background: #40749d;
    }
